<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/signup">SIGN UP!</a>
    <a href="/login">Log In</a>
  </body>
</html>
